body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

.upperBody {
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}   

.container {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    max-width: 1000px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4caf50;
    color: white;
    padding: 10px;
}
