body {
    font-family: 'Arial', sans-serif;
    margin: 20;
    padding: 20;
    background-image: url('../image/backgroundAra.jpg');
    background-size:cover;
    background-position: center;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}


.letter-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80%;
}

h2 {
    color: orange;
    text-align: center;
}

.greeting, .message, .closing, {
    margin-bottom: 20px;
}

.subNote {
    text-align: end;
    font-size: x-small;
}

.toggle-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4px 6px;
}

.checkbox {
    display: none;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60px;
    height: 25px;
    background: grey;
    border-radius: 12.5px;
    position: relative;
    transition: background-color .2s;
}

.ball {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    background: white;
    border-radius: 50%;
    transition: transform .2s;
    cursor: pointer;
}

.checkbox:checked + .label {
    background: orange;
}

.checkbox:checked + .label .ball {
    transform: translateX(35px);
}

.toggle-text {
    color: white;
    font-size: 8px;
}

.toggle-text.left {
    display: none;
    position: absolute;
    left: 11%;
}

.toggle-text.right {
    display: block;
    position: absolute;
    right: 14%;
}

.checkbox:checked ~ .label .toggle-text.left {
    display: block;
}

.checkbox:checked ~ .label .toggle-text.right {
    display: none;
}

.music-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Add these styles to your existing CSS */

.music-controls {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: xx-small;
    border-bottom: black groove 1px
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 4px 6px; /* Adjusted padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px; /* Adjusted font size */
    margin: 2px;
    cursor: pointer;
    border-radius: 4px; /* Adjusted border radius */
    transition: background-color 0.3s;
    max-height: 20px;
    min-width: auto;
    align-self: center;
}

button#playPauseBtn {
    margin-left: auto;
}

button:hover {
    background-color: rgb(90, 59, 4);
}
